#Checkout {
    width: 100vw;
}

#CheckoutBody.in-payment > .checkout-haft-top {
    justify-content: center;
    margin-bottom: 10rem;
}

#CheckoutBody.in-payment > .checkout-haft-bot {
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

#Checkout .checkout-haft-top,
#Checkout .checkout-haft-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Checkout .checkout-haft-top {
    margin: 128px 0;
}

#Checkout .checkout-haft-bot {
    margin-top: -128px;
    margin-bottom: 128px;
}

#CheckoutProgress {
    margin: 64px 48px 128px;
    text-align: center;
}

#CheckoutProgress > div {
    text-transform: uppercase;
    font-size: 30px;
    display: inline-block;
    padding: 0 54px 12px;
    letter-spacing: 6px;
    border-bottom: 4px #bcbcbc solid;
    color: #bcbcbc;
}

#CheckoutProgress div.enable {
    color: #000;
    border-bottom: 4px #000 solid;
}

/* end cehckout progress */

#DeliveryOptions {
    margin: 48px;
}

#DeliveryOptions .delivery-options-title {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

#DeliveryOptions .delivery-options-body > * {
    display: inline-block;
    font-size: 18px;
    padding: 40px 48px;
    border: 1px #969696 solid;
    margin: 0 12px;
    color: #969696;
}

#DeliveryOptions .delivery-options-body > div.enable {
    color: #000;
    font-weight: 600;
    border: 2px #000 solid;
}

#DeliveryOptions .delivery-options-body .GHTK {
    margin-left: 0;
}

/* end delivery option */
#DeliveryAddress {
    margin-left: 48px;
    margin-top: 48px;
    width: 56%;
}

#DeliveryAddress .delivery-address-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 24px;
}

#DeliveryAddress .delivery-address-form {
    width: 100%;
}

#DeliveryAddress .delivery-address-form > * {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 24px 0;
}

#choose-default-address {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#DeliveryAddress .delivery-address-form .form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* end address */
#OrderSummary {
    border: 1px #969696 solid;
    width: 26%;
    padding: 20px;
    margin-right: 48px;
    box-shadow: 0px 4px 40px 0px rgba(101, 106, 247, 0.25);
}

#OrderSummary .order-summary-header {
    border-bottom: 1px #999999 solid;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding-bottom: 16px;
}

#OrderSummary .order-summary-body > * {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#OrderSummary .order-summary-footer {
    border-top: 1px #999999 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

/* end OrderSummary */

#PaymentMethod {
    margin-left: 48px;
    width: 65%;
}

#PaymentMethod .payment-method-title {
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

#PaymentMethod .payment-method-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

#PaymentMethod .payment-method-body .method-choice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

#PaymentMethod .payment-method-body .method-choice > * {
    text-align: center;
    border: 2px #969696 solid;
    color: #969696;
    padding: 64px 96px;
    margin-bottom: 24px;
}

#PaymentMethod .payment-method-body div.enable {
    color: #000;
    border: 2px #000 solid;
}

#PaymentMethod .payment-method-body .confirm-payment-btn {
    text-align: center;
    margin: 12px auto;
}

/* end PaymentMethod */

#ConfirmationCheckout {
    margin-left: 48px;
    width: 60%;
}

#ConfirmationCheckout .confirm-infor,
#ConfirmationCheckout .confirm-receipt {
    border: 1px #969696 solid;
    border-radius: 12px;
    padding: 24px 48px;
    margin: 24px 0;
}

#ConfirmationCheckout .confirm-infor * {
    margin: 12px 0;
}

#ConfirmationCheckout .confirm-infor .confirm-infor-title,
#ConfirmationCheckout .confirm-receipt .confirm-receipt-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 36px;
}

#ConfirmationCheckout .confirm-receipt * {
    margin: 12px 0;
}

#ConfirmationCheckout .confirm-receipt-header > * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ConfirmationCheckout .confirm-receipt-header span {
    color: #727272;
    width: 60%;
}

#ConfirmationCheckout .confirm-receipt-body {
    margin: 24px 0;
    width: 100%;
}

#ConfirmationCheckout .confirm-receipt-body * {
    padding: 12px 0;
}

#ConfirmationCheckout .confirm-receipt-body .confirm-receipt-total > * {
    font-weight: 600;
}

#Checkout .order-price-infor > div {
    display: inline-block;
}

/* #ConfirmationCheckou .confirm-receipt-body .confirm-receipt-total:last-child {
    text-align: right;
} */
