.header-container {
    width: 100%;
    position: relative;
}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-bottom: #666 1px solid;
}

.main-logo-container {
    margin: 0 23% 0 40%;
}

.main-logo-lotus {
    margin-top: -26px;
    margin-bottom: -4px;
}

.main-tools-container {
    margin: auto 0;
}

.main-tools-container i {
    padding: 2px;
    margin: 0 10px;
}

.header-nav {
    margin: 28px 0;
    display: flex;
    justify-content: space-evenly;
    height: 24px;
}

.header-nav-portfolio {
    height: 100%;
}

.header-nav a.main-navigation {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.header-nav a.main-navigation:hover {
    cursor: pointer;
    opacity: 0.8;
    border-bottom: 3px solid #beeefe;
}

/* End header section */

.swiper-container {
    max-width: 100%;
}

.swiper-container img {
    max-width: 100%;
}

/* End swiper section */

.Promotion {
    background: linear-gradient(90deg, #bfeefe 0%, #fef2e6 99.01%);
    width: 100%;
    margin-top: 32px;
    text-align: center;
}

.Promotion .main-text {
    background: linear-gradient(
        90deg,
        #00cf91 0%,
        #7edfd4 33.14%,
        #ffcd1e 60.81%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 56px;
    padding: 36px 0 8px 0;
}

.Promotion .sub-text {
    padding-bottom: 36px;
}

.Promotion .sub-text span {
    font-weight: 700;
}

.sub-text span.click-me {
    text-decoration: underline;
}

.sub-text span.click-me:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* End Promotion section */

.BestSellerItem {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 1px #ccc solid;
    min-height: 400px;
    transition: transform 0.3s;
}

.BestSellerItem:hover {
    cursor: pointer;
    box-shadow: 8px 8px 20px #bfeefe;
    transform: scale(1.02);
}

.product-image img {
    max-width: 100%;
}

.product-name {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 4px 0 4px 6px;
}

.product-description {
    text-align: left;
    font-size: 16px;
    margin: 4px 0 4px 6px;
}

.product-vote {
    text-align: left;
    font-size: 16px;
    margin: 4px 0 4px 6px;
}

.product-price {
    font-size: 16px;
    margin: 4px 0 4px 6px;
}

.BestSeller {
    margin: 72px 0 172px 0;
    text-align: center;
}

.BestSeller .title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 48px;
}

.BestSeller .items-container {
    display: flex;
    justify-content: space-around;
}

/* End Best Seller section */

.FeatureBrandItem {
    max-width: 30%;
    text-align: center;
    transition: transform 0.3s;
    border: 1px #ccc solid;
}

.FeatureBrandItem:hover {
    cursor: pointer;
    box-shadow: 8px 8px 20px #bfeefe;
    transform: scale(1.02);
}

.brand-img img {
    max-width: 100%;
}

.brand-name {
    margin: 4px 0;
    font-size: 24px;
    font-weight: 600;
}

.brand-description {
    margin: 8px 4px;
    font-size: 16px;
}

.FeatureBrand {
    margin: 148px 0 96px 0;
    text-align: center;
}

.FeatureBrand .brand-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 48px;
}

.FeatureBrand .brand-items {
    display: flex;
    justify-content: space-around;
}

/* End Feature Brand section */
.Footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #bfeefe 0%, #fef2e6 99.01%);
}

.Footer a {
    transition: color 0.3s ease-in-out;
}

.Footer a:hover {
    cursor: pointer;
    opacity: 0.8;
    font-weight: 550;
}

.Footer .footer-contact {
    margin: 30px 0 20px 0;
}

.footer-contact a {
    padding: 2px;
    margin: 0 48px;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-navigation .navigation-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation-col a {
    padding: 2px;
    margin: 12px 0;
}

.footer-services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px 124px;
}

.footer-services p {
    color: #535353;
    font-size: 20px;
    font-size: 20px;
}
