.Login {
    background-color: #edecfd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 10%;
    max-width: 70%;
    height: 300px;
    padding: 16px;
}

.login-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
}

.login-form {
    width: 100%;
}

.login-form .user-name,
.login-form .password {
    display: block;
    width: 95%;
    padding: 12px 2px 12px 12px;
    border: 1px solid #727272;
    border-radius: 2px;
    margin: 12px 0;
}

.login-form .user-name {
}

.login-form .password {
}

.login-form .login-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#remeber {
    display: inline-block;
}

.login-action .remember {
}

.login-action .remember label {
    margin-left: 8px;
}

.login-action .change-passwd:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login-btn {
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 50%;
    padding: 12px 0;
    margin: 16px auto;
}

.seperate-line {
    display: block;
    background-color: #000;
    width: 1px;
    height: 90%;
}

.register-side {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-side .register-btn {
    width: 50%;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 12px 48px;
    margin: 28px 0;
}

.register-side .privacy {
    text-decoration: underline;
    color: #636363;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.register-side .privacy:hover {
    cursor: pointer;
    opacity: 0.9;
}

.login-title {
    color: #727272;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 12px auto;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}
