.BestSeller {
    margin: 16px 0;
}

.title {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 72px 0 96px 0;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
