.Footer {
    background: linear-gradient(90deg, #bfeefe 0%, #fef2e6 99.01%);
    text-align: center;
}

.footer-contact {
    margin-bottom: 8px;
    padding: 10px;
}

.footer-contact i {
    margin: 12px 24px;
}

.footer-contact i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-navigation .navigation-col {
    display: flex;
    flex-direction: column;
    margin: 0 36px;
}

.navigation-col a {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 0;
}

.navigation-col a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.footer-services {
    color: #535353;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 0;
}

.footer-services p {
    display: inline;
    margin: 0 24px;
}

a {
    text-decoration: none;
}
