.header-main {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #cdcdcd;
}

.main-logo-container {
    margin: 0 20% 0 30%;
}

.main-logo-text {
}

.main-logo-lotus {
    margin-top: -20px;
    margin-bottom: -4px;
}

.main-logo-lotus img {
    margin: auto;
}

.main-tools-container {
    margin: auto 0;
}

.tools-icon {
    padding: 4px;
    margin: 0 6px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 6%;
}

.header-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    /* font-family: "Source Sans Pro"; */
    /* font-size: 32px; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
