#ChooseQuantity input[type="number"] {
    width: 50px;
    text-align: center;
}

#ChooseQuantity .minus,
#ChooseQuantity .plus {
    margin: 0 10px;
    padding: 2px;
    font-size: 30px;
}

#ChooseQuantity .minus:hover,
#ChooseQuantity .plus:hover {
    cursor: pointer;
    opacity: 0.9;
}

.prevent-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prevent-select:focus {
    outline: none !important;
}
