input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ProductDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-top: 50px;
}

.ProductDetail .product-detail-img {
    max-width: 40%;
}

.ProductDetail .product-detail-img img {
    width: 100%;
}

.ProductDetail .product-detail-content {
    max-width: 50%;
}

.ProductDetail .product-detail-content > * {
    margin: 12px 0;
}

.product-detail-content .product-content-name {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 24px;
}

.product-detail-content .product-content-code {
    color: #535353;
}

.product-detail-content .product-content-vote i {
    margin-right: 8px;
}

.product-detail-content .product-content-price {
    font-size: 28px;
}

.product-content-add-btn,
.product-content-buy-btn {
    color: #fff;
    background-color: #000;
    padding: 16px;
    text-align: center;
    width: 50%;
}

.ProductDescription {
    margin: 96px 36px 0;
}

.ProductDescription .expand-title:hover {
    cursor: pointer;
}

.ProductDescription .expand-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    border-top: 1px #636363 solid;
    border-bottom: 1px #636363 solid;
    padding: 8px 4px;
    display: flex;
    justify-content: space-between;
}

.ProductDescription .expand-content {
    margin: 12px 0;
    border-bottom: 1px #636363 solid;
    padding-bottom: 16px;
}

.ProductDescription .expand-content * {
    font-size: 20px;
    font-weight: 300;
}

.ProductReviews {
    margin: 96px 36px 100px;
}

.ProductReviews .reviews-title {
    text-transform: uppercase;
    color: #636363;
}

.product-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-reviews-container .reviews-left-side {
    max-width: 40%;
}

.reviews-left-side .left-side-title {
    text-transform: uppercase;
    margin: 12px 0;
    font-size: 48px;
}

.reviews-left-side .left-side-statistics {
    max-width: 100%;
}

.product-reviews-container .reviews-right-side {
    text-align: right;
    max-width: 50%;
}

.product-reviews-container .reviews-right-side > * {
    margin: 12px 0;
}

.reviews-right-side .right-side-rate {
    font-size: 72px;
}

.reviews-right-side .right-side-review-btn {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
}

.ProductComments {
    margin: 96px 36px 72px;
    padding: 24px 0;
    border-top: 1px #969696 solid;
    border-bottom: 1px #969696 solid;
}

.ProductComments > * {
    margin: 12px 0;
}

.ProductComments .comment-customer {
    color: #696969;
}

.ProductComments .show-detail-btn,
.ProductComments .hide-detail-btn {
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
    color: #535353;
}

.ProductRecommend {
    margin: 96px 36px 0;
}

.ProductRecommend .recommend-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    color: #535353;
}

.ProductRecommend .recommend-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 36px 0;
}
