#Products .products-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin: 72px 48px 36px;
}

#ProductsBody {
    margin: 0 48px 96px;
}

#ProductsBody .products-body-row-1,
#ProductsBody .products-body-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}
